html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  font-family: "Livvic", "New Times Roman", serif;
}

.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-header {
  padding-top: 77px;
  padding-bottom: 77px;
  background-color: #014E56;
}

.site-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-nav__list {
  display: flex ;
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-nav__item {

}

.site-nav__link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 40px;

}

.home {
  margin-left: 80px;
}

.site-nav__link:hover {
  color: #F67E7E;
  transition: color 0.4s ease;
}

.contact {
  padding: 9px 33px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: auto;
  border: 2px solid #FFFFFF;
  border-radius: 22px;
}

.contact:hover {
  background-color: #FFFFFF;
  color: #002529;
  transition: 0.4s ease;
}

.about-hero {
  padding-top: 50px;
  padding-bottom: 120px;
  background-color: #014E56;
}

.about-hero {
  background-image: url("../img/about-hero-bgimg.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 760px) 127px;
}

.about-hero__content {
  display: flex;
  justify-content: space-between;
}

.text-content {
  width: 730px;
  margin-right: 30px;
}

.about-hero__title {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
  color: #FFFFFF;
}

.about-hero__text {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.about-hero__text::before {
  width: 50px;
  height: 4px;
  content: "";
  display: block;
  background-color: #F67E7E;
  margin-bottom: 40px;
}

.meet__section {
  background-color: #004047;
  background-image: url("../img/about-green-img.svg"),
    url("../img/delivering-bgimg.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + -760px) top,
    calc(50% + 690px) bottom;
  padding-top: 140px;
  padding-bottom: 168px;
}

.meet__heading {
  margin: 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin: 64px;
  color: #FFFFFF;
}

.meet__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -76px;
}

.meet__item {
  position: relative;
  background-color: #012F34;
  width: 350px;
  margin-right: 30px;
  margin-top: 76px;
}

.meet__item:nth-child(3n){
  margin-right: 0;
}

.meet__heading-h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
  margin: 0;
  margin-top: 32px;
}

.meet__heading-h3::before{
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 104px;
  margin-bottom: 16px;
  content: "";
}

.meet__heading-h3-asist{
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
  margin: 0;
  margin-top: 35px;
}

.meet__text {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  margin: 0;
  margin-bottom: 56px;
  color: #FFFFFF;
}

.meet__text--x{
  left: 40px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  margin: 0;
  margin-top: 8px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 24px;
  color: #FFFFFF;
}

.meet__target-link {
  position: absolute;
  margin: 0;
  top: 225px;
  left: 147px;
  border: #F67E7E;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-color 0.4s ease;
}

.target__plus{
  background-color: #F67E7E;
  background-image: url("../img/plus.svg");
}

.target__plus:hover{
  background-color: #79C8C7;
  cursor: pointer;
}

.target__plus:active{
  background-color: #79C8C7;
  cursor: pointer;
}

.target__x{
  background-color: #79C8C7;;
  background-image: url("../img/rasm-x.svg");
}

.target__x:hover{
  background-color: #F67E7E;
  cursor: pointer;
}

.target__x:active{
  background-color: #F67E7E;
}

.people1::before {
  background-image: url("../img/nikita.svg");
}

.people2::before {
  background-image: url("../img/cristian.svg");
}

.people3::before {
  background-image: url("../img/cruz.svg");
}

.people4::before {
  background-image: url("../img/drake.svg");
}

.people5::before {
  background-image: url("../img/griffin.svg");
}

.meet__asist {

}


.link {
  margin-left: 145px;
  margin-bottom: 50px;
}

.meet__icon-link {
  margin-right: 16px;
}

.meet__icon-img {
  fill: #fff;
  transition: fill 0.4s ease;
}

.meet__icon-img:hover{
  fill: #F67E7E;
}


.clients__section {
  background-color: #012F34;
  background-image: url("../img/about-hero-img.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + -660px) top;
  padding-top: 140px;
  padding-bottom: 140px;

}
.clients__heading {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 64px;
  text-align: center;
  color: #FFFFFF;
}

.clients__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.clients__item {
  margin-right: 79px;
}

.clients__item:last-child{
  margin-right: 0;
  margin-left: 2px;
}

.client__img {
  display: block;
}

.readyto-section {
  padding: 76px 263px;
  background-color: #F67E7E;
}
.readyto-section {
  background-image: url("../img/Group\ 8\ \(2\)\ \(2\).svg");
  background-repeat: no-repeat;
  background-position: calc(50% + -660px) 60px;
}

.readyto-section__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.readyto-section__title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #012F34;
}

.readyto-section__link {
  padding: 10px 33px;
  text-decoration: none;
  border: 2px solid #012F34;
  box-sizing: border-box;
  border-radius: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #012F34;

}

.readyto-section__link:hover {
  background-color: #012F34;
  color: #FFFFFF;
  transition: 0.3s ease;
}


.side__footer {
  background-color: #002529;
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.logo__link{
  transition: opacity 0.4s ease;
}

.logo__link:hover {
  opacity: 0.6;
}

.footer__nav-list {
  display: flex;;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
}

.footer__nav-item {
  margin-right: 40px;
}

.footer__nav-link {
  text-decoration: none;
  text-transform: lowercase;
  color: #FFFFFF;
  transition: color .3s ease;
}

.footer__nav-link:hover{
  color: #F67E7E;
}

.footer__midle {
  width: 445px;
}

.footer__midle-text {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  opacity: 0.6;
  margin: 0;
  margin-bottom: 3px;
}

.footer__midle-text:nth-child(4n){
  margin-bottom: 0;
}

.footer__midle-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  opacity: 0.6;
}

.footer__icon-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: auto;
}

.footer__icon-item {
  margin-right: 16px;
}

.footer__icon-item:nth-child(3n){
  margin-right: 0;
}

.footer__icon-img {
  fill: #fff;
  transition: fill 0.4s ease;
}

.footer__icon-img:hover{
  fill: #F67E7E;
}

.another__text {
  margin: 0;
  margin-top: 51px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  opacity: 0.6;
  text-align: right;
}
